<!-- <h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p> -->
<h1>Stupid coaching</h1>
<p>Ask your coach something</p>
<form action="/answer">
  <input type="text" name="question" placeholder="Ask your question">
  <input type="submit" value="Ask!" class="btn-red">
</form>
